@{
    ViewBag.Title = "Home Page";
}

<br>

<div class="row">
    <div class="flexBox" style="
    display: flex;
    flex-flow: row wrap;
    justify-content: center;">
        <h3 class="text-dark">SHREE&nbsp; AMERESWARA&nbsp; AYURVEDA&nbsp;CLINIC&nbsp;AND&nbsp;PANCHAKARMA&nbsp;CHIKITSA&nbsp;KENDRA</h3>
    </div>
    <div class="flexBox" style="
    display: flex;
    flex-flow: row wrap;
    justify-content: center;">
        <br /><h4>SINDHANUR</h4>
    </div>
</div>